<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Piper Hub</title>
  <!-- Local Bootstrap CSS -->
  <!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
   <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <style>

    body {
      padding-top: 0;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
    }

    body header h1 {
      font-weight: bold;
    }

    textarea {
      width: 100%;
      max-width: 100%; /* Ensure it doesn't overflow on smaller screens */
      font-size: 0.9rem; /* Slightly smaller text on mobile */
    }

    .tab,
    .moble_tab {
      display: inline-block;
      margin-left: 30px;
    }

    summary {
      font-weight: bold;
    }

    #TTS-button,
    #upload-button {
      background-color: #05c7bd;
      border-color: #036c67;
      color: black;
    }

    #TTS-button:hover,
    #upload-button:hover {
      background-color: #036c67;
      border-color: #036c67;
    }

    #install-btn {
      background-color: #4CAF50;
      border-color: #337635;
      color: white;
    }

    #uninstall-btn {
      background-color: rgb(175, 76, 76);
      border-color: #763333;
      color: white;
    }

    #ssml-examples {
      width: 100%;
      border: 1px solid #888;
    }

    #ssml-examples tr {
       border-top: 1px solid #888;
    }

    #ssm-examples td {
      padding: 5px;
    }

    .scrollable-table {
      max-height: 400px; /* Limit table height */
      overflow-y: auto;  /* Enable vertical scrolling */
      display: block;    /* Make the table scrollable */
      overflow-x: auto;  /* Enable horizontal scrolling */
      -webkit-overflow-scrolling: touch; /* For smoother scrolling on mobile */
    }

    table {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      border: 2px solid #fb9401;
      border-collapse: separate; /* Don't collapse */
    }

    thead {
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
      top: 0;  /* Keeps the header at the top when scrolling */
      background-color: #05c7bd; /* Set a background color to make sure the header stands out */
      z-index: 1; /* Ensure the header is above the table rows */
      border: 3px solid #fba120;
    }

    #lang-filter,
    #voice-selector,
    #speaker-selector {
      width: 200px;
    }

    .mobile-col_marg {
      margin-left: 15px;
    }

    .ccenter {
      text-align: left;
    }

    .container {
      background-color: #fff;
    }

    .install-col {
      width: 125px;
    }

    details {
      background-color: white;
      padding: 5px;
    }

    .table th, .table td {
      border: 1px solid #506c88;
    }

    @media (min-width: 992px) {
      body {
        padding-top: 0;
      }
      .container {
        max-width: 900px;
        width: 100vw;        
        padding: 3vw;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .ccenter {        
        text-align: center;
      }

      textarea {
        width: 75%; /* Full width for responsiveness */
        max-width: 600px; /* Limit width for larger screens */
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 8px;
        border: 1px solid #ddd;
      }

      table th:nth-child(5), 
      table td:nth-child(5) {
        width: 150px; /* Adjust this to the desired width */
        text-align: center; /* Optional: Center align text inside cells */
      }

      .tab {
        display: inline-block;
        margin-left: 100px;
      }

      .moble_tab {
        width: 0px;
      }

      .mobile-col_marg {
        margin-left: 0px;
      }
    }

    /* Media query for small screens (max-width: 768px) */
    @media (max-width: 768px) {
      .table th, .table td {
        font-size: 0.8rem; /* Shrink font size */
        padding: 6px; /* Reduce padding */
      }

      /* Optionally, make the table more compact by scaling it down */
      .table {
        transform: scale(0.68); /* Shrink the entire table */
        transform-origin: top left;
      }

      .table-header {
        font-size: 1rem; 
      }
    }
  </style>
  <script>
    /********************************************************
     * 
     * Application State and Cache
     * 
    *********************************************************/
    /**
     * App State
     */
    const AppState = {
      installedVoices: null,
      availableVoices: null,
      installedLangSet: {},
      availableLangSet: {},
      //autoPlay: true,

      selectedLangVoiceFilter: null,
      selectedLangTablesFilter: null,
      selectedVoice: null,
      selectedSpeaker: null     
    };

    /**
     * Saves App state in cache
     */
    function saveAppState()
    {
      const speakerRate = document.getElementById("length-scale").value;
      const audioVolatility = document.getElementById("noise-scale").value;
      const phonemeVolatility = document.getElementById("noise-w").value;
      const autoPlay = document.getElementById("auto-play").checked;
      localStorage.setItem("selectedLangVoiceFilter", AppState.selectedLangVoiceFilter);
      localStorage.setItem("selectedLangTablesFilter", AppState.selectedLangTablesFilter);
      localStorage.setItem("selectedVoice", AppState.selectedVoice);
      localStorage.setItem("selectedSpeaker", AppState.selectedSpeaker);
      localStorage.setItem("speaking_rate", speakerRate);
      localStorage.setItem("audio_volatility", audioVolatility);
      localStorage.setItem("phoneme_volatility", phonemeVolatility);
      localStorage.setItem("autoPlay", autoPlay);
    }

    /**
     * Load Saved App State from cache
     */
    function loadSavedAppState()
    {
      // Selected Lang Voice Filter
      const localSelectedLangVoiceFilter = localStorage.getItem("selectedLangVoiceFilter");
      if(localSelectedLangVoiceFilter) {
        AppState.selectedLangVoiceFilter = localSelectedLangVoiceFilter;
      }

      // Selected Lang Tables Filter
      const localSelectedLangTablesFilter = localStorage.getItem("selectedLangTablesFilter");
      if(localSelectedLangTablesFilter) {
        if(localSelectedLangVoiceFilter != "null") {
          AppState.selectedLangTablesFilter = localSelectedLangTablesFilter;
        }
        else {
          AppState.selectedLangTablesFilter = null;
        }
      }

      // Selected Voice
      const localSelectedVoice = localStorage.getItem("selectedVoice");
      if(localSelectedVoice) {
        AppState.selectedVoice = localSelectedVoice;
      }

      // Selected Speaker ID
      const localSelectedSpeaker = localStorage.getItem("selectedSpeaker");
      if(localSelectedSpeaker) {
        AppState.selectedSpeaker = localSelectedSpeaker;
      }

      // Speaking Rate
      const localSpeaking_rate = localStorage.getItem("speaking_rate");
      if(localSpeaking_rate) {
        let speakerRateElement = document.getElementById("length-scale");
        speakerRateElement.value = localSpeaking_rate;
      }      

      // Audio Volatility
      const localAudio_volatility = localStorage.getItem("audio_volatility");
      if(localAudio_volatility) {
        let audioVolatilityElement = document.getElementById("noise-scale");
        audioVolatilityElement.value = localAudio_volatility;
      }

      // Phoneme Volatility
      const localPhoneme_volatility = localStorage.getItem("phoneme_volatility");
      if(localPhoneme_volatility) {
        let phonemeVolatility = document.getElementById("noise-w");
        phonemeVolatility.value = localPhoneme_volatility;
      }

      // Auto Play
      const localAutoPlay = localStorage.getItem("autoPlay");
      if(localAutoPlay) {
        let autoPlayElement = document.getElementById("auto-play");
        autoPlayElement.checked = (localAutoPlay == "true");
      }
    }
    
    /**
     * Set the App State from json data
     */
    function setAppStateFromData(jsonData)
    {
      AppState.installedVoices = jsonData.installed_voices;
      AppState.availableVoices = jsonData.available_voices;
      
      // Setup Installed Languages
      AppState.installedLangSet = new Set();
      AppState.installedVoices.forEach(voice => {
        AppState.installedLangSet.add(voice.lang);
      });

      // Setup Available Languages
      AppState.availableLangSet = new Set();
      AppState.availableVoices.forEach(voice => {
        AppState.availableLangSet.add(voice.lang);
      });
    }

    /********************************************************
     * 
     * Initialization
     * 
    *********************************************************/
    /**
     * Initialize Page
     */
     function initializePage() {
      fetch('/get_voice_data')
      .then(response => response.json())
      .then(data => {
        // Set App State
        setAppStateFromData(data);

        //
        // Voice Selector Listener
        //
        let voiceSelector = document.getElementById("voice-selector");
        voiceSelector.addEventListener("change", onSelectedVoiceChange);

        //
        // Speaker Selector Listener
        //
        let speakerSelector = document.getElementById("speaker-selector");
        speakerSelector.addEventListener("change", onSelectedSpeakerChange);

        //
        // Langauage Selector Listener
        //
        let langSelector = document.getElementById("lang-filter");
        langSelector.addEventListener("change", onLangVoiceFilterSelectorChange);

        //
        // Language Tables Filter Listener
        //
        let langTablesSelector = document.getElementById("lang-filter-tables");
        langTablesSelector.addEventListener("change", onLangTableFilterSelectorChange);

        //
        // Upload Voice Listener
        //
        let uploadButton = document.getElementById("upload-button");
        uploadButton.addEventListener("click", onUploadVoiceClick);

        // Load the Saved Cache
        loadSavedAppState();
        // Update the Data
        updateData(data);
      })
      .catch(error => {
        console.error("Error: " + error + " in Fetch /get_voice_data!");
      });
    }

    /********************************************************
     * 
     * Events
     * 
    *********************************************************/
    /**
     * Install Voice from voice key
     */
    async function onInstallVoiceClick(voiceKey, event) { 
      // Disable the Button 
      const installButton = event.target;
      installButton.disable = true;
      // Change button text and color to indicate the installation process
      cacheTextContent = installButton.textContent;
      cacheBackgroundColor = installButton.style.backgroundColor;
      cacheColor = installButton.style.color;
      installButton.textContent = "Installing...";
      installButton.style.backgroundColor = "red";
      installButton.style.color = "white";

      // Send a Post to Install Voice
      try {
        // Send Post to install voice with voiceKey
        const response = await fetch('/install_voice', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ voice_to_install: voiceKey })
        });

        // Check if Response is OK
        if(response.ok) {
          // Update Data from response
          const data = await response.json();
          alert(data.message);
          updateData(data);
        }
        else {
          const data = await response.json();
          let msg = "Response Code: " + response.status + " - " + response.statusText + "\n" + data.message;
          throw msg;
        }
      }
      catch (error) {
        // Reset button and alert user
        installButton.disable = false;
        installButton.textContent = cacheTextContent;
        installButton.style.backgroundColor = cacheBackgroundColor;
        installButton.style.color = cacheColor;
        alert(error);
      }
    }

    /**
     * Uninstall Voice from voice key
     */
    async function onUninstallVoiceClick(voiceKey, event) {
      const uninstallButton = event.target; 
      // Disable the button
      uninstallButton.disable = true;
      // Change button text and color to indicate the installation process
      cacheTextContent = uninstallButton.textContent;
      cacheBackgroundColor = uninstallButton.style.backgroundColor;
      cacheColor = uninstallButton.style.color;
      uninstallButton.textContent = "Uninstalling...";
      uninstallButton.style.backgroundColor = "red";
      uninstallButton.style.color = "white";

      try {

          // Ask confirmation to continue
          let text = "Uninstalling " + voiceKey +".\nPress a button to cancel!\nEither OK or Cancel.";
          if (confirm(text) == false) {
            return;
          }

          const response = await fetch('/uninstall_voice', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ voice_to_uninstall: voiceKey })
        });

        if(response.ok) {
          const data = await response.json();
          alert(data.message);
          updateData(data);
        }
        else {
          const data = await response.json();
          let msg = "Response Code: " + response.status + " - " + response.statusText + "\n" + data.message;
          throw msg;
        }
      }
      catch (error) {
        // Reset Button
        uninstallButton.disable = false;
        uninstallButton.textContent = cacheTextContent;
        uninstallButton.style.backgroundColor = cacheBackgroundColor;
        uninstallButton.style.color = cacheColor;
        alert(error);
      }
    }

    /**
     * Piper TTS Async Call
     */
    async function onGenerateClick(event) {
      // Disable the button
      const generateButton = event.target;
      generateButton.disable = true;
      // Change button text and color to indicate the installation process
      cacheTextContent = generateButton.textContent;
      cacheBackgroundColor = generateButton.style.backgroundColor;
      cacheColor = generateButton.style.color;
      generateButton.textContent = "Synthesizing..."
      generateButton.style.backgroundColor = "red";
      generateButton.style.color = "white";

      // Grabbing all the arguments for piper
      const text = document.getElementById('text').value;
      const model = document.getElementById('voice-selector').value;
      speakerID = document.getElementById('speaker-selector').value;
      const speakerRate = document.getElementById("length-scale").value;
      const audioVolatility = document.getElementById("noise-scale").value;
      const phonemeVolatility = document.getElementById("noise-w").value;
      const autoPlay = document.getElementById("auto-play").checked;

      

      // Post to piper_tts
      try {
        // Check if text and Model are valid
        if(!(text && model)) {
          alert("Please ensure all fields are selected and text is entered.");
          return;
        }
        // Check on SpeakerID
        if (! speakerID ) {
          speakerID = -1
        }
        // Send Post
        const response = await fetch('/piper_tts', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify( {
            "text": text,
            "model": model,
            "speaker_id": speakerID,
            "speaker_rate": speakerRate,
            "audio_volatility": audioVolatility,
            "phoneme_volatility": phonemeVolatility
          })
        });

        // Check Response is ok
        if(response.ok) {
          // get data from response
          const data = await response.json();
          // Audio Content need to create element and push the data to the element
          const audioContent = data.audio_base64;
          const audioElement = document.createElement('audio');
          audioElement.src = 'data:audio/wav;base64,' + audioContent;
          audioElement.controls = true;
          audioElement.autoplay = autoPlay; // config setting
          // Set elements
          document.getElementById('audio-container').innerHTML = '';
          document.getElementById('audio-container').appendChild(audioElement);

          // Save the App State - successful piper hit
          saveAppState();
        }
        else {
          const data = await response.json();
          let msg = "Response Code: " + response.status + " - " + response.statusText + "\n" + data.message;
          throw msg;
        }
      } catch (error) {
        alert(error);
      } finally {
        // reset generate button
        generateButton.disable = false;
        generateButton.textContent = cacheTextContent;
        generateButton.style.backgroundColor = cacheBackgroundColor;
        generateButton.style.color = cacheColor;
      }
    }

    /**
     * On Upload Voice Click
     */
    async function onUploadVoiceClick() {
      // Disable Upload Button
      let uploadButton = document.getElementById("upload-button");
      // Disable button
      uploadButton.disable = true;
      // Get the Files to Upload
      const onnxFile = document.getElementById("onnx-file").files[0];
      const jsonFile = document.getElementById("json-file").files[0];
      const modelCardFile = document.getElementById("model-card-file").files[0];
      const overrideName = document.getElementById("override-upload-voice-name").value;

      // Check if required files are uploaded.
      if (!onnxFile || !jsonFile) {
        alert("Please select both the ONNX and JSON files!");
        return;
      }

      // Create form
      const formData = new FormData();
      formData.append("onnx_file", onnxFile);
      formData.append("json_file", jsonFile);
      if (modelCardFile) {
        formData.append("model_card", modelCardFile);
      }
      if(overrideName != "") {
        formData.append("override_voice_name", overrideName);
      }

      // Post Upload Voice
      try {
        // Send Post
        const response = await fetch("/upload_voice", {
          method: "POST",
          body: formData
        });

        // Check if response ok
        if (response.ok) {
          const data = await response.json();
          // alert success
          alert(data.message)
          // Update Data
          updateData(data);
          // Clear Files
          document.getElementById("onnx-file").value = "";
          document.getElementById("json-file").value = "";
          document.getElementById("model-card-file").value = "";
          document.getElementById("override-upload-voice-name").value = "";
        }
        else {
          const data = await response.json();
          let msg = "Response Code: " + response.status + " - " + response.statusText + "\n" + data.message;
          throw msg;
        }
      } catch (error) {
          alert(error);
      } finally {
        // reset button
        uploadButton.disable = false;
      }
    }

    /**
     * On Selected Voice Change
     */
     function onSelectedVoiceChange() {
      // set the new voice and update the speaker selector
      if (AppState.installedVoices.length > 0 ) {
        let voiceSelector = document.getElementById("voice-selector");
        let selectedVoiceKey = voiceSelector.value;
        AppState.selectedVoice = selectedVoiceKey;
        // update speaker selector
        updateSpeakerSelector();
      }
    }

    /**
     * On Selected Speaker
     */
    function onSelectedSpeakerChange() {
      // save the selected speaker
      let speakerSelector = document.getElementById("speaker-selector");
      let selectedSpeakerKey = speakerSelector.value;
      AppState.selectedSpeaker = selectedSpeakerKey;
    }

    /**
     * On Language Voice Filter Selector - when called by change of filter
     */
    function onLangVoiceFilterSelectorChange() {
      // Get selected language
      let langSelector = document.getElementById("lang-filter");
      let selectedLang = langSelector.value;
      // Update with filter
      AppState.selectedLangVoiceFilter = selectedLang;
      updateVoiceSelector(selectedLang);
    }

    /**
     * On Language Table Filter Selector
     */
    function onLangTableFilterSelectorChange() {
      // Get Selected language
      let langSelector = document.getElementById("lang-filter-tables");
      let selectedLang = langSelector.value;
      // Update Tables with filter
      AppState.selectedLangTablesFilter = selectedLang;
      updateTables();
    }

    /********************************************************
     * 
     * Updates
     * 
    *********************************************************/
    /**
     * Update Data on Page
     */
    function updateData(jsonData) {
      // Set App State from Data
      setAppStateFromData(jsonData);
      // Update Lang Table Selector
      updateLangTableSelector();
      // Update Tables 
      updateTables();
      // Update Voice Selector -> update the speaker selector
      updateVoiceSelector();
    }

    /**
     * Update Voice Selector pass in lang filter
     */
    function updateVoiceSelector(langFilter) {

      // langague Set
      const languageSet = new Set();
      // Voice Selector      
      let voiceSelector = document.getElementById("voice-selector");
      voiceSelector.innerHTML = "";

      // voice exist flag - used to ensure the list still has the voice
      selectedVoiceExists = false;
      // for each voice in the installed list
      AppState.installedVoices.forEach(voice => {
        // Skip if the langFilter is defined and not a match or all case
        if(langFilter !== undefined && (langFilter != voice.lang && langFilter != "all" )) {
          return; // Skip to the next iteration
        }
        // Create an voice option
        let option = document.createElement("option");
        option.value = voice.key;
        option.textContent = voice.name;
        voiceSelector.appendChild(option);
        
        // add lang set
        if (langFilter === undefined) {
          languageSet.add(voice.lang);
        }

        // If voice matches selected voice, we mark it
        if(AppState.selectedVoice == voice.key){
          selectedVoiceExists = true;
        }
      });

      // If we previously selected a voice, set it for the new dropdown.
      if (selectedVoiceExists) {
        voiceSelector.value = AppState.selectedVoice;
      }
      else
      {
        // reset speaker
        AppState.selectedSpeaker = null;
        // set voice selector to first onee
        if(AppState.installedVoices.length > 0) {
          AppState.selectedVoice = AppState.installedVoices[0];
          voiceSelector.value = AppState.selectedVoice
        }
        else {
          AppState.selectedVoice = null;
        }
      }

      // Update language selector
      if(langFilter === undefined) {
        updateLangSelector(languageSet);
      }

      // Update Speaker Selector
      updateSpeakerSelector();
    }

    /**
     * Update Lang Selector
     */
    function updateLangSelector(languageSet) {
      // Get the Language Filter
      let langSelector = document.getElementById("lang-filter");
      langSelector.innerHTML = "";
      // Add All Option and default
      {
        let option = document.createElement("option");
        option.value = "all";
        option.textContent = "all";
        langSelector.appendChild(option);
      }

      // Mark if selected before and exists in the list
      selectedExists = false;
      // for each language add option
      languageSet.forEach(lang => {
        // mark lang exists for selected
        if(AppState.selectedLangVoiceFilter == lang) {
          selectedExists = true;
        }
        // Create option element.
        let option = document.createElement("option");
        option.value = lang;
        option.textContent = lang;
        langSelector.appendChild(option);
      });

      // Set the lang to what was already selected
      if(selectedExists) {
        langSelector.value = AppState.selectedLangVoiceFilter;
      }
      else{
        AppState.selectedLangVoiceFilter = null;
      }
    }

    /**
     * Update Lang Table Selector
     */
    function updateLangTableSelector() {
      // Get lang filter for tables
      let langSelector = document.getElementById("lang-filter-tables");
      langSelector.innerHTML = "";
      // Add All Option and default
      {
        let option = document.createElement("option");
        option.value = "all";
        option.textContent = "all";
        langSelector.appendChild(option);
      }

      // For each lang, create an option
      AppState.availableLangSet.forEach(lang => {
        let option = document.createElement("option");
        option.value = lang;
        option.textContent = lang;
        langSelector.appendChild(option);
      });
      
      // If there was a selected lang, set it
      if(AppState.selectedLangTablesFilter != null) {
        langSelector.value = AppState.selectedLangTablesFilter;
      }
    }

    /**
     * Update Tables
     */
     function updateTables() {
      // Installed Voices Table
      let installedTable = document.getElementById("installed-voices-table");
      installedTable.innerHTML = "";
      AppState.installedVoices.forEach(voice => {
        // Skip if the langFilter is defined and not a match or all case
        if(AppState.selectedLangTablesFilter && (AppState.selectedLangTablesFilter != voice.lang && AppState.selectedLangTablesFilter != "all")) {
          return; // Skip to the next iteration
        }
        let row = installedTable.insertRow();
        row.innerHTML = `<td>${voice.name}</td><td>${voice.lang_name_english} (${voice.lang_country_english})</td><td>${voice.quality}</td><td>${voice.num_speakers}</td><td><button id="uninstall-btn" onclick="onUninstallVoiceClick('${voice.key}', event)">Uninstall</button></td>`;
      });

      // Available Voices Table
      let availableTable = document.getElementById("available-voices-table");
      availableTable.innerHTML = "";
      AppState.availableVoices.forEach(voice => {
        // Skip if the langFilter is defined and not a match or all case
        if(AppState.selectedLangTablesFilter && (AppState.selectedLangTablesFilter != voice.lang && AppState.selectedLangTablesFilter != "all")) {
          return; // Skip to the next iteration
        }
        let row = availableTable.insertRow();
        row.innerHTML = `<td>${voice.name}</td><td>${voice.lang_name_english} (${voice.lang_country_english})</td><td>${voice.quality}</td><td>${voice.num_speakers}</td><td><button id="install-btn" onclick="onInstallVoiceClick('${voice.key}', event)">Install</button></td>`;
      });
    }

    /**
     * Update the speaker selector based on the selected voice
     */
    function updateSpeakerSelector() {
      // Get speaker ID map
      speakerIDMap = {};
      // Only populate if there are installed voices
      if (AppState.installedVoices.length > 0 ) {
        let voiceSelector = document.getElementById("voice-selector");
        let selectedVoiceKey = voiceSelector.value;
        let selectedVoice = AppState.installedVoices.find(voice => voice.key === selectedVoiceKey);
        // Update Speaker Selector with speaker ids
        if (selectedVoice && selectedVoice.speaker_id_map) {
          speakerIDMap = selectedVoice.speaker_id_map;
        } 
      }
      
      // alert(speaker_string);
      let speakerSelector = document.getElementById("speaker-selector");
      speakerSelector.innerHTML = ""; // Clear existing options

      // flag for marking if selected speaker exits
      selectedSpeakerExist = false;
      // for each speaker id, create an option
      Object.entries(speakerIDMap).forEach(([speakerID, speakerName]) => {
        // create option
        let option = document.createElement("option");
        option.value = speakerName;
        option.textContent = speakerID;
        speakerSelector.appendChild(option);

        // this speaker was selected prior.
        if(AppState.selectedSpeaker == speakerName) {
          selectedSpeakerExist = true;
        }
      });

      // set selected speaker
      if(selectedSpeakerExist) {
        speakerSelector.value = AppState.selectedSpeaker;
      }
    }
  </script>
</head>
<body onload="initializePage()">

  <!-- Main Container -->
  <div id="main" class="container">

    <!--Header-->
    <header style="text-align: center; margin-top: 5px;">
      <div class="row" style="justify-content: center;" >
        <!-- <img src="{{ url_for('static', filename='imgs/piper_web_logo.png') }}" width="150"/> -->
        <img src="../static/imgs/piper_web_logo.png" width="150"/>
        <h1 style="align-content: center;">Piper Hub</h1>
      </div> 
    </header>

    <!-- TTS Form-->
    <div class="row mt-3 ccenter">
      <div class="col">
        <label>Enter Text:</label><br>
        <textarea id="text" name="text" rows="4" required  placeholder="Type here..."></textarea>
      </div>
    </div>    
    <div class="row mt-3 justify-content-lg-center">
      <div class="col-md-3 mobile-col_marg">
        <div class ="row mt-3">
          <label for="lang-filter" title="Lang Filter">Lang:</label>
        </div>
        <div class ="row mt-3">
          <select id="lang-filter" name="lang-filter">
            <option>en</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 mobile-col_marg">
        <div class="row mt-3">
          <label for="voice-selector" title="Voice Selector">Voice:</label>
        </div>
        <div class="row mt-3">
          <select id="voice-selector" name="voice">
            <option>Test Voice</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 mobile-col_marg">
        <div class="row mt-3">
          <label for="speaker-selector" title="Speaker Selector">Speaker:</label>
        </div>
        <div class="row mt-3">
          <select id="speaker-selector" name="speaker">
            <option>Test Speaker</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col mt-3" style="text-align: center;">
      <button id="TTS-button" class="btn btn-lg btn-primary ccenter" onclick="onGenerateClick(event)">Generate Speech</button>
    </div>
    <br/>
    <div id="audio-container" style="text-align: center;"></div>
    <br/>
    <details class="mt-3">
      <summary>Advanced Settings</summary>
        <div class="row mt-2">
          <div class="col-3">
            <label for="auto-play" title="Auto Play Setting">Auto Play:</label>
            <input type="checkbox" id="auto-play" name="autoplay" checked="true">
          </div>
          <div class="col">
            <details>
              <summary>More about auto play</summary>
              <p>
                Flag to have the audio play automatically after Synthesizing.
              </p>
            </details>
          </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label for="length-scale" title="VITS length scale (< 1 is faster)">Speaking Rate:</label>
                <input type="number" id="length-scale" name="lengthScale" size="5" min="0" max="10" step="0.001" value="1">
            </div>
            <div class="col">
              <details>
                <summary>More about speaking rate</summary>
                <p>
                  Controls how fast the voice speaks the text. A value of 1 is the speed of the training dataset. Less than 1 is faster, and more than 1 is slower.
                </p>
              </details>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label for="noise-scale" title="VITS noise parameter (0-1)">Audio Volatility:</label>
                <input type="number" id="noise-scale" name="noiseScale" size="5" min="0" max="1" step="0.001" value="0.667">
            </div>
            <div class="col">
              <details>
                <summary>More about audio volatility</summary>
                <p>
                  The amount of noise added to the generated audio (0-1). Can help mask audio artifacts from the voice model. Multi-speaker models tend to sound better with a lower amount of noise than single speaker models.
                </p>
              </details>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label for="noise-w" title="VITS noise W parameter (0-1)">Phoneme Volatility:</label>
                <input type="number" id="noise-w" name="noiseW" size="5" min="0" max="1" step="0.001" value="0.8">
            </div>
            <div class="col">
              <details>
                <summary>More about phoneme volatility</summary>
                <p>
                  The amount of noise used to generate phoneme durations (0-1). Allows for variable speaking cadance, with a value closer to 1 being more variable. Multi-speaker models tend to sound better with a lower amount of phoneme variability than single speaker models.
                </p>
              </details>
            </div>
        </div>
    </details>
    <details class="mt-3">
      <summary>Upload a Voice</summary>
      <form id="upload-voice-form" enctype="multipart/form-data">
        
        <div class="row mt-2">
          <div class="col-3">
            <label for="json-file">JSON File (Required):</label>
            <input type="file" id="json-file" name="json_file" accept=".onnx.json" required>
          </div>
          <div class="col">
            <details>
              <summary>More about JSON File</summary>
              <p>
                The Piper configuration json file for the model with extension '.onnx.json'.
              </p>
            </details>
          </div>
        </div>
        <div class ="row mt-2">
          <div class="col-3">
            <label for="onnx-file">ONNX File (Required):</label>
            <input type="file" id="onnx-file" name="onnx_file" accept=".onnx" required>
          </div>
          <div class="col">
            <details>
              <summary>More about the ONNX File</summary>
              <p>
                The Open Neural Network Exchange (ONNX) File.
                This is the model file for the voice.
              </p>
            </details>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-3">
            <label for="model-card-file">Model Card (Optional):</label>
            <input type="file" id="model-card-file" name="model_card" accept="*">
          </div>
          <div class="col">
            <details>
              <summary>More about Model Card</summary>
              <p>
                The MODEL_CARD file for each voice contains important licensing information.
                Piper is intended for text to speech research, and does not impose any additional restrictions on voice models.
                Some voices may have restrictive licenses, however, so please review them carefully!
              </p>
            </details>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-3">
            <label for = "override-upload-voice-name">Override Name (Optional):</label>
            <input type="text" id="override-upload-voice-name" name="override-upload-voice-name">
          </div>
          <div class="col">
            <details>
              <summary>More about voice name</summary>
              <p>
                Using the voice name to override the default naming in piper's config which is the dataset.
                Some models don't comply with the proper piper schema with dataset meaning in the config.
              </p>
          </details>
          </div>
        </div>
        <br>
        <button type="button" id="upload-button">Upload Voice</button>
      </form>
    </details>

    <br/>
    <br/>

    <!-- Tables -->
    
    <div class ="row mt-3 mobile-col_marg">
      <label for="lang-filter-tables" title="Lang Filter">Tables Language Filter:</label>
      <select id="lang-filter-tables" style="margin-left: 10px" name="lang-filter-tables">
        <option>en</option>
      </select>
    </div>
    <br/>
    
    <!-- Installed Voices -->
    <div class="col-auto mx-auto text-center">
      <h2 class="table-header ccenter">Installed Voices</h2>
      <div class="scrollable-table">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Lang</th>
              <th>Quality</th>
              <th>Speakers</th>
              <th class ="install-col">Uninstall</th>
            </tr>
          </thead>
          <tbody id="installed-voices-table">
            <tr>
              <td>Test Voice</td>
              <td>Test Lang</td>
              <td>Test Quality</td>
              <td>1</td>
              <td>
                <button id="uninstall-btn" onclick="">Uninstall</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br/><br/>

      <!-- Available Voices -->
      <h2 class="table-header ccenter">Available Voices for Download:</h2>
      <div class="scrollable-table">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Lang</th>
              <th>Quality</th>
              <th>Speakers</th>
              <th class ="install-col">Install</th>
            </tr>
          </thead>
          <tbody id="available-voices-table">
            <tr>
              <td>Test Voice</td>
              <td>Test Lang</td>
              <td>Test Quality</td>
              <td>5</td>
              <td>
                <button id="install-btn" onclick="">Install</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
